
<!DOCTYPE html>
	<html lang="en">​
​<head>​
	<meta charset="UTF-8">​
	<title>Survey</title>​
​</head>​
<body>​
​	<h1>Survey Form</h1>
	<form action= method="post" id="surveying">
		<label for="your_name">Your Name:</label>
		<input type="hidden" name="action" value="result">
		<input type="text" name="first_name" id="first_name"><br>
		<br>
		<label for ="dojo_location">Dojo Location:</label>

			<select>
			  <option value="volvo">Mountain View</option>
			  <option value="saab">San Francisco</option>
			  <option value="opel">Calexico</option>
			  <option value="audi">Palaco</option>
			</select>

			<label for ="dojo_location">Dojo Language:</label>

			<select>
			  <option value="volvo">Mountain View</option>
			  <option value="saab">San Francisco</option>
			  <option value="opel">Calexico</option>
			  <option value="audi">Palaco</option>
			</select><br>
<br>
		
		<textarea rows="10" cols="70" name="usertext">  </textarea><br>
		<input type="submit" value="Submit" />
		
	</form>	

</body>
</html>
