<html>
<head>
 	<title>Cars</title>
	</head>

	<body>
			<img border="0" src="http://cdn.hifipanda.com/5199ab870f81054122.jpg" alt="Icar" width="304" height="228">
			<img border="0" src="http://cdn.hifipanda.com/5199ab870f81054122.jpg" alt="Icar" width="304" height="228">
			<img border="0" src="http://cdn.hifipanda.com/5199ab870f81054122.jpg" alt="Icar" width="304" height="228">
			
			<br>
			New car: <input type="text" name="newcar">
			<input type="submit" value="Submit">
			
 		<a href="/">Go Back</a>
	</body>
</html>
